<?xml version="1.0" encoding="utf-8"?>
<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.roman.tweaks"
		android:sharedUserId="android.uid.system">

		<uses-permission
				android:name="android.permission.WRITE_SETTINGS"></uses-permission>
		<uses-permission
				android:name="android.permission.SET_TIME_ZONE"></uses-permission>

		<application
				android:icon="@drawable/icon"
				android:label="@string/app_name">
				<activity
						android:name=".Main"
						android:label="@string/app_name">
						<intent-filter>
								<action
										android:name="android.intent.action.MAIN" />
						</intent-filter>
				</activity>

				<receiver
						android:name="Receiver">
						<intent-filter>
								<action
										android:name="com.roman.tweaks.OPEN"></action>
						</intent-filter>
				</receiver>

				<activity
						android:label="EDT Tweaks - About"
						android:name=".Activities.AboutActivity"></activity>
				<activity
						android:name=".Activities.BatteryActivity"
						android:label="EDT Tweaks - Battery Options"></activity>

		</application>
</manifest>