<?xml version="1.0" encoding="utf-8"?>
<PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:sazabi="http://schemas.android.com/apk/res/org.sazabi.lib.preference">

    <org.sazabi.lib.preference.IconPreference
            android:key="help"
            android:title="@string/pref_help"
            sazabi:icon="@drawable/icon" />

</PreferenceScreen>
